@import "./_variables";
@import "./_animations";

// Splash
#splash {
  min-height: 100%;

  padding: @jumbotron-padding;
  padding-top: @navbar-height;
  @media screen and (min-width: @screen-sm-min) {
    padding-top: @navbar-height * 2;
  }

  text-align: center;
  display: block;

  h1 {
    font-family: 'Tangerine', cursive;
    color: @brand-primary;
    font-weight: normal;

    strong {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .page-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: transform 1.25s ease-in-out;
    transform: translateY(200%);

    &.active {
      transform: translateY(25%);
    }
  }
}

.dance-party-header {
  display: none;
  font-weight: bold;
  font-size: @font-size-h3;
  text-transform: uppercase;

  &.active {
    display: block;
    animation: bounce-in 0.75s, color-shift 3s infinite;
  }
}

.date-location-header {
  display: none;
  text-transform: uppercase;

  &.active {
    display: inline-block;
    animation: fade-in 1s;
    margin: 0;
    padding: @padding-base-vertical @padding-large-horizontal;
    background: rgba(255, 255, 255, 0.8);
    border-radius: @border-radius-base;
  }
}

// Dancing bunnies
img.dancing-rabbit {
  width: auto;
  position: relative
}

.dancing-crowd {
  height: 170px;
  background-size: auto 170px;
  background-repeat: repeat-x;
  background-position: center;
}

#dancing-crowd-left {
  background-image: url('/img/crowd-left.svg');
  animation: dance-4 2s infinite;
}

#dancing-crowd-right {
  background-image: url('/img/crowd-right.svg');
  animation: dance-4 2s 1.3s infinite;
}

#dancing-crowd-back {
  background-size: auto 125px;
  background-image: url('/img/crowd-bg.svg');
}

#dancing-lop {
  height: 200px;
  animation: dance-1 2s infinite;
}

#dancing-tort {
  height: 175px;
  animation: dance-2 3s 0.1s infinite;
  left: 25%;
}

#dancing-brown {
  height: 200px;
  animation: dance-3 2.25s 0.25s infinite;
  right: 25%;
}

// Calendar invites
.page.inverse a.cal-invite, a.cal-invite {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  min-width: 150px;
  font-size: @font-size-small;
  padding: 0 @padding-small-horizontal;
  border-radius: 1px;
  background: #fcfcfc;
  color: @link-color;
  text-decoration: none;
}

// Map
.map-container {
  width: 100%;
}

.map-container iframe {
  box-shadow: 0 2px 2px @shadow;
  background: @gray-lighter;
}

// Misc formatting
.col-info {
  padding: 0 (@padding-large-horizontal * 2) @padding-large-vertical;

  @media screen and (max-width: @screen-xs-max) {
    text-align: center;
  }

  &.col-info-primary {
    font-size: @font-size-large;
  }
}

// Story message
.story-content {
  padding: (@padding-large-vertical * 2) 0;
  font-size: @font-size-h1;
  font-family: 'Tangerine', cursive;
  text-align: center;

  // @media screen and (min-width: @screen-sm-min) {
  //   padding-top: 150px;
  // }
}


/* Story */

img.photo {
  border: @padding-large-horizontal solid white;
  box-shadow: 2px 2px 2px @shadow;
  display: block;
  margin: 0 auto;
  max-width: 80%;

  // Slighty rotatation animation
  transition: transform 0.6s;
  transform-origin: @padding-base-horizontal @padding-base-vertical;
  &.active {
    transform: rotate(3deg);
  }

  @media screen and (min-width: @screen-sm-min) {
    // float: left;
    // margin: 0 @padding-large-horizontal * 2;
    margin: 0 auto;
    max-width: 50%;
  }

  @media screen and (min-width: @screen-md-min) {
    max-width: 33%;
  }

  @media screen and (min-width: @screen-lg-min) {
    max-width: 25%;
  }
}


/* RSVP */

.msg {
  text-align: center;
  display: none;

  &.active {
    display: block;
    animation: bounce-in 0.75s;
  }
}

#save-msg {
  margin-top: @jumbotron-padding;
}

.form-text {
  padding-bottom: @padding-base-vertical;
  text-align: center;

  @media screen and (min-width: @screen-sm-min) {
    line-height: @input-height-base;
    padding-bottom: 0;
    text-align: left;
  }
}

@media screen and (max-width: @screen-xs-max) {
  #add-guest-btn {
    width: 100%;
  }

  #plus-ones {
    margin-right: @input-height-base;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .attending-radios .radio-inline {
    display: block;
    margin-left: 10px;
  }
}

label.form-text {
  margin-bottom: 0;
}

#extra-guests {
  padding: @padding-large-vertical 0;
  border-top: 1px solid @hr-border;
  border-bottom: 1px solid @hr-border;
  margin: @form-group-margin-bottom 0;

  @media screen and (min-width: @screen-sm-min) {
    padding-left: @padding-large-horizontal;
  }
}

.add-guest-prompt {
  margin-bottom: 0;
}

.name-group {
  position: relative;
  margin-top: @form-group-margin-bottom;

  .rm-action {
    position: absolute;
    font-size: 1.25em;
    top: 0;
    right: -@input-height-base;
    line-height: @input-height-base;
    width: @input-height-base;

    &:hover, &:focus {
      color: lighten(@brand-danger, 5%);
    }
  }
}

.template {
  display: none;
}

.spinner {
  display: none;

  &.active {
    display: inline-block;
  }
}
