{% extends "_base.html" %}

{% block head %}
  <link rel="stylesheet" href="css/index.css" media="screen">
{% endblock %}

{% block main %}

<div id="splash" class="page">
  <div class="page-content">
    <h1>
      <strong>
        <span class="no-break">Andrew Fong</span>
        &amp;
        <span class="no-break">Christina Chang</span>
      </strong>
      <br />
      kindly request the pleasure of your company at
      <br />
      the celebration of their marriage
    </h1>
    <h2 class="dance-party-header">Let's Party!</h2>
    <h5 class="date-location-header">
      October 1, 2016 | 4:30pm
      <span class="hidden-xs">|</span>
      <span class="xs-block">
        Sunnyvale, CA
      </span>
    </h5>
    <a id="down-arrow" class="scroll-link" href="#venue">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>

  <!-- Muliple background layers to create depth effect -->
  <div class="page-background">
    <div id="dancing-crowd-back" class="dancing-crowd"></div>
  </div>
  <div class="page-background">
    <div id="dancing-crowd-left" class="dancing-crowd"></div>
  </div>
  <div class="page-background">
    <div id="dancing-crowd-right" class="dancing-crowd"></div>
  </div>
  <div class="page-background">
    <img id="dancing-brown" class="dancing-rabbit" src="/img/brown.svg" />
  </div>
  <div class="page-background">
    <img id="dancing-tort" class="dancing-rabbit" src="/img/tort.svg" />
  </div>
  <div class="page-background">
    <img id="dancing-lop" class="dancing-rabbit" src="/img/lop.svg" />
  </div>
</div>

<!-- Time and Place -->
<a id="venue" name="venue" class="anchor"></a>
<div class="page inverse">
  <div class="page-content container">
    <div class="row">
      <div class="col-sm-12 col-info col-info-primary text-center">
        <h3>Venue</h3>
        <p>
          <a href="https://www.google.com/maps/place/Faz+Restaurants+%26+Catering/@37.4047782,-122.0274797,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb7ba83430cc5:0xc784f3f7ccc3306e!8m2!3d37.404774!4d-122.025291">
            FAZ @ Sheraton Sunnyvale<br />
            1108 N Mathilda Ave.<br />
            Sunnyvale, CA 94089
          </a>
        </p>
        <p>
          Saturday, October 1, 2016 at 4:30pm
        </p><p>
          <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=ZThiZGxwaDJkMmdpNG5iOTBua2piZTRtdWMgcHNtOWh2MjRwbWVyNDdzZnY5OHIxdDlkaXNAZw&amp;tmsrc=psm9hv24pmer47sfv98r1t9dis%40group.calendar.google.com" class="cal-invite">
            <i class="fa fa-fw fa-google"></i>
            Google Calendar
          </a>
          <a target="_blank" href="/data/wedding.ics" class="cal-invite">
            <i class="fa fa-fw fa-calendar-o"></i>
            Outlook / iCal
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.3679007089445!2d-122.0274796853674!3d37.40477824113438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7ba83430cc5%3A0xc784f3f7ccc3306e!2sFaz+Restaurant!5e0!3m2!1sen!2sus!4v1464158559944" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>

  <div class="page-content container">
    <div class="row">
      <div class="col-sm-6 col-info">
        <h4>Travel</h4>
        <p>
          The Sheraton Sunnyvale offers guests
          <a href="http://www.starwoodhotels.com/sheraton/property/area/transportation.html?propertyID=754&amp;language=en_US">complimentary shuttle service</a>.
        </p>
        <p>
          <strong>From SJC:</strong>
          Call (408) 745-6000 to arrange for pick up.
        </p>
        <p>
          <strong>From SFO:</strong>
          Public transit is available via BART to Millbrae, then
          transfer to Caltrain southbound to Sunnyvale.
        </p>
      </div>

      <div class="col-sm-6 col-info">
        <h4>Accomodations</h4>
        <p class="text-center">
          More information coming soon.
        </p>
        <!-- <p>
          For your convenience, we've reserved a special room rate with the
          <a href="http://www.sheratonsunnyvale.com/">
            Sheraton Sunnyvale</a>. Rates are $[123] per night.
        <p></p>
          To make a reservation, call [(408) 745-6000] and let them know that
          this is for the Chang/Fong wedding. Reservations must be placed on
          or before [September 1, 2016].
        </p> -->
      </div>
    </div>
  </div>
</div>

<!-- Story -->
<a id="story" name="story" class="anchor"></a>
<div class="page">
  <div class="page-content container">
    <h3>Our Story</h3>
    <div class="row"><div class="col-sm-12">
      <img class="photo" src="/img/justthe2ofus.jpg" />
      <div id="story-1" class="story-content">
        <p>Coming Soon</p>
      </div>
    </div></div>
  </div>
</div>

<!-- RSVP -->
<a id="rsvp" name="rsvp" class="anchor"></a>
<div class="page inverse">
  <div class="page-content container medium">
    <h3>RSVP</h3>

    <div id="save-msg" class="alert alert-success msg">
      <i class="fa fa-fw fa-check"></i>
      Thanks! We got your response.
    </div>

    <div id="error-msg" class="alert alert-danger msg">
      <i class="fa fa-fw fa-warning"></i>
      Whoops. There was an error. Try again
      or send an e-mail to fongandrew<i class="fa fa-at"></i>gmail.com.
    </div>

    <form id="rsvp-form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">
          Attendance
        </label>
        <div class="attending-radios col-sm-10">
          <label class="radio-inline">
            <input type="radio" name="attending" id="attending-yes"
                   value="yes" checked="checked" />
            Yes, I'm attending
          </label>
          <label class="radio-inline">
            <input type="radio" name="attending" id="attending-no"
                   value="no">
            No, I'm too busy saving the world
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="guest-name-1" class="col-sm-2 control-label">
          Name
        </label>
        <div class="col-sm-10">
          <input type="text" id="guest-name-1" required="true"
            name="guest-name" class="form-control name-input"
            placeholder="First and Last Name" />
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">
          Email
        </label>
        <div class="col-sm-10">
          <input type="email" required="true"
                 class="form-control" name="email"
                 id="email" placeholder="you@email.com">
        </div>
      </div>
      <div class="form-group attending-show">
        <label for="address" class="col-sm-2 control-label">
          Mailing Address</label>
        <div class="col-sm-10">
          <textarea id="address" class="form-control" rows="3"
            name="address" required="true"
            placeholder="30 Rockefeller Plaza, New York City, NY"></textarea>
        </div>
      </div>

      <div id="extra-guests" class="attending-show">
        <div class="form-group add-guest-prompt clearfix">
          <div class="col-sm-12">
          <label for="add-guest-btn" class="form-text">
            Are you bringing your significant other and/or children?
          </label>
          <button id="add-guest-btn" class="btn btn-info pull-right">
            <i class="fa fa-plus"></i>
            Add Guest
          </button>
          </div>
        </div>

        <!-- Template = copy this for new elements -->
        <div class="name-group template">
          <input type="text" name="guest-name"
            class="form-control name-input"
            placeholder="First + Last Name" />
          <i class="fa fa-fw fa-minus-circle action rm-action"></i>
        </div>

        <!-- New guests go here -->
        <div class="row attending-show">
          <div id="plus-ones" class="col-sm-12"></div>
        </div>
      </div>

      <div class="form-group"><div class="col-sm-12">
        <button id="rsvp-submit-btn"
                class="btn btn-success pull-right">
          <i class="spinner fa fa-fw fa-circle-o-notch fa-spin"></i>
          Submit
        </button>
      </div></div>
    </form>
  </div>
</div>

<!-- Registry -->
<a id="gifts" name="gifts" class="anchor"></a>
<div class="page short">
  <div class="page-content container text-center">
    <a class="btn btn-lg btn-default" href="/registry.html">
      <i class="fa fa-fw fa-gift"></i>
      Click here to see our registry!
    </a>
  </div>
</div>

<script src="js/index.js"></script>
{% include "_firebase.html" %}

{% endblock main %}
