{% extends "_base.html" %}

{% block head %}
  <link rel="stylesheet" href="css/index.css" media="screen">
{% endblock %}

{% block main %}

<a id="gifts" name="gifts" class="anchor"></a>
<div class="page">
  <div class="page-content container narrow">
    <h3>Registry</h3>
    <p class="text-center">
      Your presence in our lives is the best gift we could ask for.
      If you would like to share something more, we prefer the methods below.
      Thank you!
    </p>
    <div class="payment-btns row">
      <div class="col-sm-6">
        <a href="https://www.paypal.me/andrewandchristina"
           class="btn btn-default btn-lg">
          <img alt="PayPal" title="PayPal" src="/img/PayPal.svg" />
        </a>
      </div>
      <div class="col-sm-6">
        <a href="https://venmo.com/AndrewFong"
           class="btn btn-default btn-lg">
          <img alt="Venmo" title="Venmo" src="/img/Venmo.svg" />
        </a>
      </div>
    </div>
  </div>
</div>

<script src="js/registry.js"></script>

{% endblock %}
