{% extends "_base.html" %}

{% block head %}
  <link rel="stylesheet" href="css/registry.css" media="screen">
{% endblock %}

{% macro payment(amount, note="") %}
  <div class="payment-btns">
    <a href="https://www.paypal.me/andrewandchristina/{{ amount }}"
       class="btn btn-default">
      <img alt="PayPal" title="PayPal" src="/img/PayPal.svg" />
    </a>
    <a href="https://venmo.com/?txn=pay&amp;audience=private&amp;recipients=AndrewFong&amp;amount={{ amount }}&amp;note={{ note|urlencode }}"
       class="btn btn-default">
      <img alt="Venmo" title="Venmo" src="/img/Venmo.svg" />
    </a>
  </div>
{% endmacro %}

{% block main %}

<a id="gifts" name="gifts" class="anchor"></a>
<div class="page">
  <div class="page-content container">
    <h3>Registry</h3>
    <p class="text-center container medium">
      We're grateful for your contribution to our married life.
      We know it isn't easy, so thank you for your support.
      <em>All amounts below can be modified.</em>
    </p>

    <div id="registry-items">
      <div class="registry-item">
        <div class="item-header">
          <h4>Gym Membership</h4>
          <span class="price">$500</span>
          <img class="item-img" src="/img/gym.jpg" />
        </div>
        <div class="description">
          <p> We won't have a wedding to kick us in the butt!</p>
        </div>
        {{ payment(500, "Gym Membership") }}
      </div>

      <div class="registry-item">
        <div class="item-header">
          <h4>Roomba</h4>
          <span class="price">$360</span>
          <img class="item-img" src="/img/roomba.jpg" />
        </div>
        <div class="description">
          <p>Christina wants efficient cleaning.</p>
          <p>Andrew wants a robot.</p>
        </div>
        {{ payment(360, "Roomba") }}
      </div>

      <div class="registry-item">
        <div class="item-header">
          <h4>Gardening</h4>
          <span class="price">$300</span>
          <img class="item-img" src="/img/garden.jpg" />
        </div>
        <div class="description">
          <p>Or we can hang out in the jungle, the mighty jungle &hellip;</p>
        </div>
        {{ payment(300, "HOA Fee") }}
      </div>

      <div class="registry-item">
        <div class="item-header">
          <h4>Life Essentials: Fruit</h4>
          <span class="price">$200</span>
          <img class="item-img" src="/img/fruit.jpg" />
        </div>
        <div class="description">
          <p>Christina eats a lot of fruit.</p>
        </div>
        {{ payment(200, "Fruit") }}
      </div>

      <div class="registry-item">
        <div class="item-header">
          <h4>Life Essentials: Coffee</h4>
          <span class="price">$200</span>
          <img class="item-img" src="/img/coffee.jpg" />
        </div>
        <div class="description">
          <p>Andrew drinks a lot of coffee.</p>
        </div>
        {{ payment(200, "Coffee") }}
      </div>

      <div class="registry-item">
        <div class="item-header">
          <h4>Amazon Prime Membership</h4>
          <span class="price">$100</span>
          <img class="item-img" src="/img/amazon.jpg" />
        </div>
        <div class="description">
          <p>Please feed our cardboard box addiction.</p>
        </div>
        {{ payment(100, "Amazon Prime") }}
      </div>

      <div class="registry-item">
        <div class="item-header">
          <h4>Costco Membership</h4>
          <span class="price">$50</span>
          <img class="item-img" src="/img/costco.png" />
        </div>
        <div class="description">
          <p>Help us bulk up for our next house party!</p>
        </div>
        {{ payment(50, "Costco") }}
      </div>

      <div id="friends-item" class="registry-item">
        <div class="item-header">
          <h4>Friends and Family</h4>
          <span class="price">Priceless</span>
          <div class="item-img"></div>
        </div>
        <div class="description">
          <p>Your presence in our lives is the best gift we could ask for.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page short inverse"></div>

<script src="js/registry.js"></script>

{% endblock %}
